@import url('vars.css');

/* TYPOGRAPHY */
.fs-2xs { font-size: var(--fs-2xs); }
.fs-xs { font-size: var(--fs-xs); }
.fs-sm { font-size: var(--fs-sm); }
.fs-md { font-size: var(--fs-md); }
.fs-lg { font-size: var(--fs-lg); }
.fs-xl { font-size: var(--fs-xl); }
.fs-2xl { font-size: var(--fs-2xl); }
.fs-3xl { font-size: var(--fs-3xl); }

.fw-200 { font-weight: var(--fw-200); }
.fw-400 { font-weight: var(--fw-400); }
.fw-600 { font-weight: var(--fw-600); }
.fw-700 { font-weight: var(--fw-700); }
.fw-800 { font-weight: var(--fw-800); }

/* COLOR */
.text-primary { color: var(--clr-primary); }
.text-accent { color: var(--clr-accent); }
.text-dark { color: var(--clr-dark); }
.text-light { color: var(--clr-light); }
.text-grey { color: var(--clr-grey); }
.text-warning { color: var(--clr-warning); }
.text-danger { color: var(--clr-danger); }
.text-success { color: var(--clr-success); }

.bg-primary { background-color: var(--clr-primary); }
.bg-accent { background-color: var(--clr-accent); }
.bg-dark { background-color: var(--clr-dark); }
.bg-light { background-color: var(--clr-light); }
.bg-grey { background-color: var(--clr-grey); }
.bg-warning { background-color: var(--clr-warning); }
.bg-danger { background-color: var(--clr-danger); }
.bg-success { background-color: var(--clr-success); }

.bg-primary-transparent { background-color: var(--clr-primary-transparent); }
.bg-accent-transparent { background-color: var(--clr-accent-transparent); }
.bg-dark-transparent { background-color: var(--clr-dark-transparent); }
.bg-light-transparent { background-color: var(--clr-light-transparent); }
.bg-grey-transparent { background-color: var(--clr-grey-transparent); }
.bg-warning-transparent { background-color: var(--clr-warning-transparent); }
.bg-danger-transparent { background-color: var(--clr-danger-transparent); }
.bg-success-transparent { background-color: var(--clr-success-transparent); }

.border-primary { border: 1px solid var(--clr-primary); }
.border-accent { border: 1px solid var(--clr-accent); }
.border-dark { border: 1px solid var(--clr-dark); }
.border-light { border: 1px solid var(--clr-light); }
.border-grey { border: 1px solid var(--clr-grey); }
.border-warning { border: 1px solid var(--clr-warning); }
.border-danger { border: 1px solid var(--clr-danger); }
.border-success { border: 1px solid var(--clr-success); }

.border-primary-bottom { border-bottom: 1px solid var(--clr-primary); }
.border-accent-bottom { border-bottom: 1px solid var(--clr-accent); }
.border-dark-bottom { border-bottom: 1px solid var(--clr-dark); }
.border-light-bottom { border-bottom: 1px solid var(--clr-light); }
.border-grey-bottom { border-bottom: 1px solid var(--clr-grey); }
.border-warning-bottom { border-bottom: 1px solid var(--clr-warning); }
.border-danger-bottom { border-bottom: 1px solid var(--clr-danger); }
.border-success-bottom { border-bottom: 1px solid var(--clr-success); }

.shadow-primary { box-shadow: 0 2px 4px var(--clr-primary); }
.shadow-accent { box-shadow: 0 2px 4px var(--clr-accent); }
.shadow-dark { box-shadow: 0 2px 4px var(--clr-dark); }
.shadow-light { box-shadow: 0 2px 4px var(--clr-light); }
.shadow-grey { box-shadow: 0 2px 4px var(--clr-grey); }
.shadow-warning { box-shadow: 0 2px 4px var(--clr-warning); }
.shadow-danger { box-shadow: 0 2px 4px var(--clr-danger); }
.shadow-success { box-shadow: 0 2px 4px var(--clr-success); }

.border-radius-xs { border-radius: var(--space-xs); }
.border-radius-sm { border-radius: var(--space-sm); }
.border-radius-md { border-radius: var(--space-md); }
.border-radius-lg { border-radius: var(--space-lg); }

.w-25 { width: 25%; }
.w-50 { width: 50%; }
.w-75 { width: 75%; }
.w-100 { width: 100%; }

.aspect-ratio-1-1 { aspect-ratio: 1 / 1; }
.object-fit-cover { object-fit: cover; }

.text-align-center { text-align: center; }
.align-items-center { align-items: center; }
.justify-content-center { justify-content: center; }
.justify-content-start { justify-content: start; }

.flex { display: flex; flex-wrap: wrap; }
.flex-direction-column { flex-direction: column !important; }
.flex-item-1 { flex: 1; }

.gap-2xs { gap: var(--space-2xs); }
.gap-xs { gap: var(--space-xs); }
.gap-sm { gap: var(--space-sm); }
.gap-md { gap: var(--space-md); }


.cursor-pointer { cursor: pointer; }

.letter-spacing-xs { letter-spacing: 1px; }

.italic { font-style: italic !important; }